.site-header {
	background: $blue;
	padding-bottom: 20px;

	@include tablet-portrait {
		padding-bottom: 40px;
	}

	.header-wrapper {
		border-bottom: 1px solid $yellow;
		padding: 20px 0 10px 0;
		border-top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include tablet-portrait {
			padding: 40px 0 10px 0;
		}

		& > * {
			width: auto;
		}
	}

	.social {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		padding-bottom: 25px;

		a {
			display: block;

			img {
				width: 100%;
				max-width: 20px;
				height: 100%;
				max-height: 20px;

				@include tablet-portrait {
					max-width: 24px;
					max-height: 24px;
				}
			}

			& + a {
				margin-left: 25px;

				@include tablet-portrait {
					margin-left: 50px;
				}
			}
		}
	}

	.site-logo {
		padding: 15px 0;
		max-width: 250px;
		margin: 0 auto;
		
		@include tablet-portrait {
			max-width: 350px;
			padding-bottom: 30px;
		}

		@include tablet-landscape {
			margin: 0;
			padding-bottom: 15px;
		}


		a {
			display: block;
			max-width: 250px;

			@include tablet-portrait {
				max-width: 350px;
			}

			img {
				width: 100%;
			}
		}

		.tagline {
			padding-top: 20px;
			max-width: 125px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 200px;
			}
		}
	}
}

.site-nav {
	width: 100% !important;

	@include tablet-landscape {
		width: auto !important;
	}

	.main-menu {
		display: flex;
		align-items: center;
		justify-content: center;

		.first-level {
			padding-top: 10px;
			padding-bottom: 10px;

			& + .first-level {
				padding-left: 25px;

				@include tablet-portrait {
					padding-left: 50px;
				}
			}

			& > a {
				font-family: $baskerville;
				font-size: 0.875rem;
				display: block;
				white-space: nowrap;

				@include tablet-portrait {
					font-size: 1.125rem;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&.dropdown {
				& > a:hover {
					text-decoration: none;
				}				
			}
		}
	}

	.dropdown {
		position: relative;
		display: flex;
		align-items: center;

		&:after {
			display: block;
			content: '';
			width: 15px;
			height: 8px;
			background: url(images/dropdown-arrow.svg) no-repeat 0 0;
			background-size: 100%;
			margin-left: 5px;
			margin-top: 2px;

			@include tablet-portrait {
				margin-left: 10px;
			}
		}

		&:hover {
			cursor: pointer;

			.sub-nav {
				z-index: 100;
				opacity: 1;
				transform: translateY(0);
			}
		}

		.sub-nav {
			position: absolute;
			top: 35px;
			background: $white;
			border-radius: 3px;
			border: 1px solid $white;
			width: 160px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
			overflow: hidden;
			transition: all 0.2s ease-in;
			opacity: 0;
			z-index: -1;
			transform: translateY(15px);

			.second-level {
				a {
					color: $blue;
					padding: 20px 20px;
					display: block;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.75rem;
					letter-spacing: 0.05em;

					&:hover {
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}


section.announcement {
	background: $yellow;
	color: $blue;
	text-align: center;
	padding: 20px;

	p {
		font-size: 0.875rem;
		line-height: 1.125em;
		font-family: $baskerville;

		@include tablet-landscape {
			font-size: 1rem;
		}
	}

	a {
		color: $blue;
		font-weight: bold;
		text-decoration: underline;
		display: inline-block;
	}
}