body.home {

	section.hero {
		background: $blue;
		color: $white;
		padding: 20px 0 40px 0;

		@include tablet-portrait {
			padding: 20px 0 60px 0;
		}

		.headline {
			padding-bottom: 25px;
			max-width: 800px;

			h1 {
				font-family: $baskerville;
				font-weight: normal;
				font-size: 1.5rem;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 2.5rem;
				}
			}
		}

		.copy {
			font-family: $baskerville;
			max-width: 800px;

			& > * + * {
				padding-top: 20px;
			}

			ol, ul {
				margin-left: 20px;
				font-family: $brandon;

				@include tablet-portrait {
					margin-left: 40px;
				}

				li {
					& + li {
						padding-top: 10px;
					}
				}
			}

			ol {
				list-style-type: decimal;
			}

			ul {
				list-style-type: decimal;
			}
		}
	}

	article.restaurant {
		padding: 50px 0;
		color: $blue;

		@include tablet-landscape {
			padding: 100px 0;
		}

		&:nth-child(even) {
			background: #fafafa;
		}

		.photo {

			&-wrapper {
				@include aspect-ratio(4,3);
			}
			

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 50px;
			}

			@include tablet-landscape {
				padding-top: 0;
			}

			.logo {
				img {
					max-height: 50px;
				}
			}

			.copy {
				padding-top: 15px;
				font-family: $baskerville;
			}

			.columns {
				padding-top: 25px;

				@include mobile-landscape {
					display: flex;
					justify-content: space-between;

					.col {
						width: calc(50% - 10px);
					}
				}

				.col + .col {
					padding-top: 25px;

					@include mobile-landscape {
						padding-top: 0;
					}
				}

				@include tablet-portrait {
					padding-top: 50px;
				}
			}

			.module {
				& + .module {
					padding-top: 25px;

					@include tablet-portrait {
						padding-top: 35px;
					}
				}

				p {
					line-height: 1.5em;
					font-family: $baskerville;
					font-size: 0.875rem;
				}
			}

			.menu {
				p {
					a {
						background: $blue;
						color: $white;
						display: inline-block;
						text-transform: uppercase;
						font-weight: bold;
						font-family: $brandon;
						font-size: 0.75rem;
						letter-spacing: 0.04em;
						padding: 8px 15px 5px 15px;
						border-radius: 3px;

						&:hover {
							color: $blue;
							background: $yellow;
						}
					}
				}
			}

			.dine-in {
				a {
					display: inline-block;
					color: $blue;
					border-bottom: 2px solid $yellow;
				}
			}

			.hours {
				.entry {
					display: flex;
					align-items: center;

					& + .entry {
						padding-top: 10px;
					}

					.day {
						width: 60px;

						h5 {
							text-transform: uppercase;
							font-size: 0.875rem;
							letter-spacing: 0.02em;
						}
					}
				}

				.note {
					padding-top: 25px;

					em {
						display: block;
						font-size: 0.875rem;
						line-height: 1.25em;
					}
				}
			}

			.social {
				
				&-links {
					display: flex;
					align-items: center;
				}

				a {
					display: block;
					width: 100%;
					max-width: 24px;

					& + a {
						margin-left: 25px;
					}
				}
			}
		}

		.links {
			background: $blue;
			padding: 25px;
			border-radius: 5px;
			margin-top: 25px;
			text-align: center;

			@include mobile-landscape {
				margin-top: 50px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}

			.pickup {

				& + .pickup {
					padding-top: 20px;

					@include mobile-landscape {
						padding-top: 0;
						padding-left: 20px;
					}
				}

				&-btn {
					background: $yellow;
					color: $blue;
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1rem;
					letter-spacing: 0.04em;
					padding: 12px 20px 9px 20px;
					border-radius: 3px;

					&:hover {
						color: $white;
					}
				}

				& + .delivery {
					margin-top: 25px;

					@include tablet-landscape {
						margin-top: 0;
						margin-left: 50px;
					}
				}
			}


			.delivery {
				width: 100%;

				@include mobile-landscape {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				@include tablet-landscape {
					width: auto;
				}

				h5 {
					color: $white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.875rem;
					letter-spacing: 0.02em;
					padding-bottom: 25px;

					@include mobile-landscape {
						padding-bottom: 0;
						padding-right: 15px;
					}

					@include tablet-landscape {
						padding-right: 25px;
					}
				}

				&-links {

					@include mobile-landscape {
						display: flex;
						align-items: center;
					}

					a {
						display: block;
						font-family: $baskerville;
						font-size: 0.875rem;

						@include tablet-landscape {
							font-size: 1rem;
						}

						&:hover {
							text-decoration: underline;
						}

						& + a {
							margin-top: 25px;

							@include mobile-landscape {
								margin-top: 0;
								margin-left: 15px;
							}

							@include tablet-portrait {
								margin-left: 25px;
							}
						}						
					}
				}
			}
		}

		@include tablet-landscape {
			.grid {
				display: grid;
				gap: 20px;
				grid-template-columns: repeat(12, 1fr);
				grid-template-areas:
					"p p p p p p gutter i i i i i"
					"l l l l l l l l l l l l";

				.photo {
					grid-area: p;
				}

				.info {
					grid-area: i;
				}

				.links {
					grid-area: l;
				}

			}

		}
	}

	article#purple {
		.info {
			.logo {
				img {
					max-height: 72px;
				}
			}
		}
	}

	article#the-commons {
		.info {
			.logo {
				img {
					max-height: 92px;
				}
			}
		}
	}
}