/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;

$blue: #36454F;
$yellow: #E1AF49;


/* Typography
----------------------------------*/
$brandon: brandon-grotesque, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
$baskerville: 'Libre Baskerville', serif;

