/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
/* Media Queries
----------------------------------*/
html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #2D2A32;
  font: 400 100%/1 brandon-grotesque, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700; }

a {
  color: #E1AF49;
  transition: all 0.2s ease-in-out; }

.btn {
  padding: 4px;
  font-size: 0.875rem;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  background: #E1AF49;
  color: #2D2A32; }
  .btn .outline {
    display: block;
    border: 1px solid #E1AF49;
    padding: 11px 25px 10px 25px; }
  .btn:hover {
    background: #E1AF49;
    color: #2D2A32; }

.section-header {
  font-size: 2rem; }
  @media screen and (min-width: 568px) {
    .section-header {
      font-size: 2.5rem; } }
  @media screen and (min-width: 768px) {
    .section-header {
      font-size: 3rem; } }

.module-header {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 10px; }

.copy.p1 {
  font-size: 1rem;
  line-height: 1.5em; }
  @media screen and (min-width: 768px) {
    .copy.p1 {
      font-size: 1.375rem; } }

.copy.p2 {
  font-size: 0.9375rem;
  line-height: 1.5em; }
  @media screen and (min-width: 768px) {
    .copy.p2 {
      font-size: 1.125rem; } }

body {
  background: #fff; }

::-moz-selection {
  background: #E1AF49; }

::selection {
  background: #E1AF49; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.grid {
  display: grid; }
  .grid.two-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.two-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
  .grid.four-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1280px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(4, 1fr); } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  background: #36454F;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .site-header {
      padding-bottom: 40px; } }
  .site-header .header-wrapper {
    border-bottom: 1px solid #E1AF49;
    padding: 20px 0 10px 0;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .site-header .header-wrapper {
        padding: 40px 0 10px 0; } }
    .site-header .header-wrapper > * {
      width: auto; }
  .site-header .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 25px; }
    .site-header .social a {
      display: block; }
      .site-header .social a img {
        width: 100%;
        max-width: 20px;
        height: 100%;
        max-height: 20px; }
        @media screen and (min-width: 768px) {
          .site-header .social a img {
            max-width: 24px;
            max-height: 24px; } }
      .site-header .social a + a {
        margin-left: 25px; }
        @media screen and (min-width: 768px) {
          .site-header .social a + a {
            margin-left: 50px; } }
  .site-header .site-logo {
    padding: 15px 0;
    max-width: 250px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .site-header .site-logo {
        max-width: 350px;
        padding-bottom: 30px; } }
    @media screen and (min-width: 1024px) {
      .site-header .site-logo {
        margin: 0;
        padding-bottom: 15px; } }
    .site-header .site-logo a {
      display: block;
      max-width: 250px; }
      @media screen and (min-width: 768px) {
        .site-header .site-logo a {
          max-width: 350px; } }
      .site-header .site-logo a img {
        width: 100%; }
    .site-header .site-logo .tagline {
      padding-top: 20px;
      max-width: 125px;
      margin: 0 auto; }
      @media screen and (min-width: 768px) {
        .site-header .site-logo .tagline {
          max-width: 200px; } }

.site-nav {
  width: 100% !important; }
  @media screen and (min-width: 1024px) {
    .site-nav {
      width: auto !important; } }
  .site-nav .main-menu {
    display: flex;
    align-items: center;
    justify-content: center; }
    .site-nav .main-menu .first-level {
      padding-top: 10px;
      padding-bottom: 10px; }
      .site-nav .main-menu .first-level + .first-level {
        padding-left: 25px; }
        @media screen and (min-width: 768px) {
          .site-nav .main-menu .first-level + .first-level {
            padding-left: 50px; } }
      .site-nav .main-menu .first-level > a {
        font-family: "Libre Baskerville", serif;
        font-size: 0.875rem;
        display: block;
        white-space: nowrap; }
        @media screen and (min-width: 768px) {
          .site-nav .main-menu .first-level > a {
            font-size: 1.125rem; } }
        .site-nav .main-menu .first-level > a:hover {
          text-decoration: underline; }
      .site-nav .main-menu .first-level.dropdown > a:hover {
        text-decoration: none; }
  .site-nav .dropdown {
    position: relative;
    display: flex;
    align-items: center; }
    .site-nav .dropdown:after {
      display: block;
      content: '';
      width: 15px;
      height: 8px;
      background: url(images/dropdown-arrow.svg) no-repeat 0 0;
      background-size: 100%;
      margin-left: 5px;
      margin-top: 2px; }
      @media screen and (min-width: 768px) {
        .site-nav .dropdown:after {
          margin-left: 10px; } }
    .site-nav .dropdown:hover {
      cursor: pointer; }
      .site-nav .dropdown:hover .sub-nav {
        z-index: 100;
        opacity: 1;
        transform: translateY(0); }
    .site-nav .dropdown .sub-nav {
      position: absolute;
      top: 35px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #fff;
      width: 160px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      transition: all 0.2s ease-in;
      opacity: 0;
      z-index: -1;
      transform: translateY(15px); }
      .site-nav .dropdown .sub-nav .second-level a {
        color: #36454F;
        padding: 20px 20px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.05em; }
        .site-nav .dropdown .sub-nav .second-level a:hover {
          background: #36454F;
          color: #fff; }

section.announcement {
  background: #E1AF49;
  color: #36454F;
  text-align: center;
  padding: 20px; }
  section.announcement p {
    font-size: 0.875rem;
    line-height: 1.125em;
    font-family: "Libre Baskerville", serif; }
    @media screen and (min-width: 1024px) {
      section.announcement p {
        font-size: 1rem; } }
  section.announcement a {
    color: #36454F;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section.hero {
  background: #36454F;
  color: #fff;
  padding: 20px 0 40px 0; }
  @media screen and (min-width: 768px) {
    body.home section.hero {
      padding: 20px 0 60px 0; } }
  body.home section.hero .headline {
    padding-bottom: 25px;
    max-width: 800px; }
    body.home section.hero .headline h1 {
      font-family: "Libre Baskerville", serif;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.25em; }
      @media screen and (min-width: 768px) {
        body.home section.hero .headline h1 {
          font-size: 2.5rem; } }
  body.home section.hero .copy {
    font-family: "Libre Baskerville", serif;
    max-width: 800px; }
    body.home section.hero .copy > * + * {
      padding-top: 20px; }
    body.home section.hero .copy ol, body.home section.hero .copy ul {
      margin-left: 20px;
      font-family: brandon-grotesque, sans-serif; }
      @media screen and (min-width: 768px) {
        body.home section.hero .copy ol, body.home section.hero .copy ul {
          margin-left: 40px; } }
      body.home section.hero .copy ol li + li, body.home section.hero .copy ul li + li {
        padding-top: 10px; }
    body.home section.hero .copy ol {
      list-style-type: decimal; }
    body.home section.hero .copy ul {
      list-style-type: decimal; }

body.home article.restaurant {
  padding: 50px 0;
  color: #36454F; }
  @media screen and (min-width: 1024px) {
    body.home article.restaurant {
      padding: 100px 0; } }
  body.home article.restaurant:nth-child(even) {
    background: #fafafa; }
  body.home article.restaurant .photo-wrapper {
    position: relative; }
    body.home article.restaurant .photo-wrapper:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%; }
    body.home article.restaurant .photo-wrapper > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.home article.restaurant .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  body.home article.restaurant .info {
    padding-top: 25px; }
    @media screen and (min-width: 768px) {
      body.home article.restaurant .info {
        padding-top: 50px; } }
    @media screen and (min-width: 1024px) {
      body.home article.restaurant .info {
        padding-top: 0; } }
    body.home article.restaurant .info .logo img {
      max-height: 50px; }
    body.home article.restaurant .info .copy {
      padding-top: 15px;
      font-family: "Libre Baskerville", serif; }
    body.home article.restaurant .info .columns {
      padding-top: 25px; }
      @media screen and (min-width: 568px) {
        body.home article.restaurant .info .columns {
          display: flex;
          justify-content: space-between; }
          body.home article.restaurant .info .columns .col {
            width: calc(50% - 10px); } }
      body.home article.restaurant .info .columns .col + .col {
        padding-top: 25px; }
        @media screen and (min-width: 568px) {
          body.home article.restaurant .info .columns .col + .col {
            padding-top: 0; } }
      @media screen and (min-width: 768px) {
        body.home article.restaurant .info .columns {
          padding-top: 50px; } }
    body.home article.restaurant .info .module + .module {
      padding-top: 25px; }
      @media screen and (min-width: 768px) {
        body.home article.restaurant .info .module + .module {
          padding-top: 35px; } }
    body.home article.restaurant .info .module p {
      line-height: 1.5em;
      font-family: "Libre Baskerville", serif;
      font-size: 0.875rem; }
    body.home article.restaurant .info .menu p a {
      background: #36454F;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-family: brandon-grotesque, sans-serif;
      font-size: 0.75rem;
      letter-spacing: 0.04em;
      padding: 8px 15px 5px 15px;
      border-radius: 3px; }
      body.home article.restaurant .info .menu p a:hover {
        color: #36454F;
        background: #E1AF49; }
    body.home article.restaurant .info .dine-in a {
      display: inline-block;
      color: #36454F;
      border-bottom: 2px solid #E1AF49; }
    body.home article.restaurant .info .hours .entry {
      display: flex;
      align-items: center; }
      body.home article.restaurant .info .hours .entry + .entry {
        padding-top: 10px; }
      body.home article.restaurant .info .hours .entry .day {
        width: 60px; }
        body.home article.restaurant .info .hours .entry .day h5 {
          text-transform: uppercase;
          font-size: 0.875rem;
          letter-spacing: 0.02em; }
    body.home article.restaurant .info .hours .note {
      padding-top: 25px; }
      body.home article.restaurant .info .hours .note em {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25em; }
    body.home article.restaurant .info .social-links {
      display: flex;
      align-items: center; }
    body.home article.restaurant .info .social a {
      display: block;
      width: 100%;
      max-width: 24px; }
      body.home article.restaurant .info .social a + a {
        margin-left: 25px; }
  body.home article.restaurant .links {
    background: #36454F;
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px;
    text-align: center; }
    @media screen and (min-width: 568px) {
      body.home article.restaurant .links {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; } }
    body.home article.restaurant .links .pickup + .pickup {
      padding-top: 20px; }
      @media screen and (min-width: 568px) {
        body.home article.restaurant .links .pickup + .pickup {
          padding-top: 0;
          padding-left: 20px; } }
    body.home article.restaurant .links .pickup-btn {
      background: #E1AF49;
      color: #36454F;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.04em;
      padding: 12px 20px 9px 20px;
      border-radius: 3px; }
      body.home article.restaurant .links .pickup-btn:hover {
        color: #fff; }
    body.home article.restaurant .links .pickup + .delivery {
      margin-top: 25px; }
      @media screen and (min-width: 1024px) {
        body.home article.restaurant .links .pickup + .delivery {
          margin-top: 0;
          margin-left: 50px; } }
    body.home article.restaurant .links .delivery {
      width: 100%; }
      @media screen and (min-width: 568px) {
        body.home article.restaurant .links .delivery {
          display: flex;
          align-items: center;
          justify-content: center; } }
      @media screen and (min-width: 1024px) {
        body.home article.restaurant .links .delivery {
          width: auto; } }
      body.home article.restaurant .links .delivery h5 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.875rem;
        letter-spacing: 0.02em;
        padding-bottom: 25px; }
        @media screen and (min-width: 568px) {
          body.home article.restaurant .links .delivery h5 {
            padding-bottom: 0;
            padding-right: 15px; } }
        @media screen and (min-width: 1024px) {
          body.home article.restaurant .links .delivery h5 {
            padding-right: 25px; } }
      @media screen and (min-width: 568px) {
        body.home article.restaurant .links .delivery-links {
          display: flex;
          align-items: center; } }
      body.home article.restaurant .links .delivery-links a {
        display: block;
        font-family: "Libre Baskerville", serif;
        font-size: 0.875rem; }
        @media screen and (min-width: 1024px) {
          body.home article.restaurant .links .delivery-links a {
            font-size: 1rem; } }
        body.home article.restaurant .links .delivery-links a:hover {
          text-decoration: underline; }
        body.home article.restaurant .links .delivery-links a + a {
          margin-top: 25px; }
          @media screen and (min-width: 568px) {
            body.home article.restaurant .links .delivery-links a + a {
              margin-top: 0;
              margin-left: 15px; } }
          @media screen and (min-width: 768px) {
            body.home article.restaurant .links .delivery-links a + a {
              margin-left: 25px; } }
  @media screen and (min-width: 1024px) {
    body.home article.restaurant .grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "p p p p p p gutter i i i i i" "l l l l l l l l l l l l"; }
      body.home article.restaurant .grid .photo {
        grid-area: p; }
      body.home article.restaurant .grid .info {
        grid-area: i; }
      body.home article.restaurant .grid .links {
        grid-area: l; } }

body.home article#purple .info .logo img {
  max-height: 72px; }

body.home article#the-commons .info .logo img {
  max-height: 92px; }
